{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":8,"column":12},"action":"insert","lines":["# Logs","logs","*.log","","# dotenv environment variables file",".env","","# Dependency directories","node_modules"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":12},"end":{"row":8,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1624023056080,"hash":"cab65a37d3b5647c9cea4b1d32fa8e9e4a4815d1"}